# Format: file_pattern,rule_number
# - file_pattern uses shell globbing against file basename (e.g. *.c, stm32*_hal_*.h)
# - rule_number is numeric only (e.g. 13)

mbedtls_config.h,6

main_app.c,11
sdio_hal.c,11

bsp_conf.h,12
bsp_conf_template.h,12
ecp_alt.c,12
freertos_tickless.c,12
ioe.h,12
led.h,12
logging.h,12
mbedtls_config.h,12
mx_*.h,12
rsa_alt.c,12
spi_port.h,12
stm32_*_def.h,12
stm32*_hal_def.h,12
stm32_target.h,12
w61_at_common.h,12
w6x_internal.h,12

aes_alt.c,13
aes_alt.h,13
altls_mbedtls.c,13
altls_mbedtls.h,13
app_lwip.c,13
bt_host.c,13
ccm_alt.c,13
ccm_alt.h,13
chachapoly_alt.c,13
chachapoly_alt.h,13
cmac_alt.c,13
cmac_alt.h,13
cmox_common.h,13
cmox_ecc_custom_curves.h,13
cmox_gcm.h,13
cmox_info.h,13
cmox_md.h,13
cmox_rsa_types.h,13
dhcp_server_raw.c,13
ecdh_alt.c,13
ecdsa_alt.c,13
ecp_alt.c,13
ecp_alt.h,13
ecp_curves_alt.c,13
echo.c,13
emw3080b_network.c,13
emw3080b_network.h,13
gcm_alt.c,13
gcm_alt.h,13
hardware_rng.c,13
http_client.c,13
httpserver.c,13
iperf.c,13
iperf_shell.c,13
lwip.c,13
lwip_netif.c,13
main_app.c,13
md5_alt.c,13
md5_alt.h,13
modem_cmd_handler.h,13
mx_wifi_network.c,13
mx_wifi_network.h,13
ping.c,13
rcp_bt_hci.c,13
rsa_alt.c,13
rsa_alt.h,13
sha1_alt.c,13
sha1_alt.h,13
sha256_alt.c,13
sha256_alt.h,13
sntp.c,13
spi_iface.c,13
spi_port.c,13
spi_port.h,13
spi_port_template.c,13
stm32_basic_stdio_armcc.c,13
w61_at_api.h,13
w61_at_ble.c,13
w61_at_common.c,13
w61_at_mqtt.c,13
w61_at_net.c,13
w61_at_sys.c,13
w61_at_wifi.c,13
w61_io.c,13
w6x_http.c,13
w6x_net.c,13
w6x_types.h,13
wfa_tg.c,13
wifi.c,13
wifi_shell.c,13

aes_alt.c,14
cmox_rsa_types.h,14
ecp_alt.c,14
gcm_alt.c,14
lwip_netif.c,14
sha256.c,14
stm32*_hal_fmac.h,14
stm32l462e_cell1_motion_sensors.h,14

lwipopts.h,20
mbedtls_config.h,20

aes_alt.c,26
audio_file.c,26
chachapoly_alt.c,26
ecp_alt.c,26
ecp_curves_alt.c,26
fsdata_custom.c,26
gcm_alt.c,26
lsm6dso.c,26
md5_alt.c,26
sha256.c,26
startup_stm32*.c,26
st_logo.c,26
stm32wb_at_client.c,26
subbrand_stm32.c,26
w6x_net.c,26
w61_at_net.c,26
w61_at_wifi.c,26
spi_iface.c,26

html_pages.h,31
mbedtls_config.h,31
st_logo.c,31
stm32_hal_legacy.h,31

stm32_hal_legacy.h,48

*hal_*.c,59
st_logo.c,59

mx_*.c,68

*,122
